.line-chart {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.current-weather{
  display: inline-block;
  font-size: 2em;
  margin:0px;
}

.current{
  padding: 0px;
  box-shadow: 0px 2px 7px grey;

  h2{
    font-size: 1.7rem;
    font-weight: bold;
  }

  h3{
    font-size: 1.8rem;
    font-weight: bold;
    display: inline-block;
    color: white;
    border-radius: 100%;
    padding: 10px;

    background-color: color($colors, myblue);
  }

  img{
    max-width: 6rem;
    max-height: 10rem;
    float: right;
  }
}
.area-current > div{
  border: 0px;
}

.daily-weather{
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  padding: 5px;

  img{
    max-width: 3.5rem;
  }

  .temp-max{
    border-bottom: 1px solid black;
    color: #ff5252;
  }

  .temp-min{
    color: #1976d2;
  }
}
